-- CreateTable
CREATE TABLE "trabajadores" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "nombre_completo" VARCHAR NOT NULL,
    "estado_civil" VARCHAR NOT NULL,
    "rut" VARCHAR NOT NULL,
    "fecha_de_nacimiento" DATE NOT NULL,
    "direccion" VARCHAR NOT NULL,
    "correo_electronico" VARCHAR NOT NULL,
    "sistema_de_salud" VARCHAR NOT NULL,
    "prevision_afp" VARCHAR NOT NULL,
    "obra_en_la_que_trabaja" VARCHAR NOT NULL,
    "rol_que_asume_en_la_obra" VARCHAR NOT NULL,
    "estado" VARCHAR NOT NULL,

    CONSTRAINT "trabajadores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "contratos" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "id_trabajadores" UUID NOT NULL,
    "plazo_de_contrato" VARCHAR NOT NULL,
    "estado" VARCHAR NOT NULL,
    "fecha_de_contratacion" DATE NOT NULL,

    CONSTRAINT "contratos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "anexos" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "id_contrato" UUID NOT NULL,
    "fecha_de_creacion" DATE NOT NULL,
    "parametros" VARCHAR NOT NULL DEFAULT '',

    CONSTRAINT "anexos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "comentarios" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "id_trabajadores" UUID NOT NULL,
    "id_contrato" UUID,
    "fecha" TIMESTAMP(6) NOT NULL,
    "comentario" VARCHAR NOT NULL,
    "id_anexo" UUID,

    CONSTRAINT "comentarios_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "epp" (
    "id" SERIAL NOT NULL,
    "tipo" TEXT NOT NULL,
    "obras_asignadas" TEXT[],
    "cantidad" INTEGER NOT NULL,
    "certificado_id" TEXT,
    "fecha_registro" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "epp_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "proveedores" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "rut" VARCHAR NOT NULL,
    "direccion" VARCHAR,
    "correo_vendedor" VARCHAR,
    "telefono_vendedor" VARCHAR,
    "fecha_registro" DATE,
    "nombre_vendedor" VARCHAR,
    "producto_servicio" VARCHAR,
    "credito_disponible" INTEGER,
    "estado" VARCHAR,

    CONSTRAINT "proveedores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "herramientas" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tipo" VARCHAR NOT NULL,
    "estado" VARCHAR NOT NULL,
    "garantia" DATE,
    "cantidad" SMALLINT NOT NULL,
    "obra_asig" VARCHAR,
    "asig_inicio" DATE,
    "asig_fin" DATE,

    CONSTRAINT "herramientas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vehiculos" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "patente" VARCHAR NOT NULL,
    "permiso_circ" VARCHAR NOT NULL,
    "revision_tecnica" DATE NOT NULL,
    "revision_gases" DATE NOT NULL,
    "ultima_mantencion" DATE NOT NULL,
    "descripcion_mant" VARCHAR,
    "capacidad_kg" INTEGER NOT NULL,
    "neumaticos" VARCHAR NOT NULL,
    "rueda_repuesto" BOOLEAN NOT NULL,
    "observaciones" VARCHAR,
    "estado" VARCHAR NOT NULL,
    "proxima_mantencion" DATE NOT NULL,

    CONSTRAINT "vehiculos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ordenes_de_compra" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "numero_orden" VARCHAR NOT NULL,
    "fecha_emision" DATE NOT NULL,
    "centro_costo" VARCHAR NOT NULL,
    "proveedorId" UUID NOT NULL,
    "itemizadoId" UUID,
    "numero_cotizacion" VARCHAR NOT NULL,
    "nombre_servicio" VARCHAR NOT NULL,
    "valor" INTEGER NOT NULL,
    "descuento" BOOLEAN NOT NULL,
    "notas_adicionales" VARCHAR,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "estado" TEXT NOT NULL DEFAULT 'Activo',
    "numero_contacto" VARCHAR DEFAULT '',

    CONSTRAINT "ordenes_de_compra_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pagos" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "nombre_mandante" TEXT NOT NULL,
    "rut_mandante" VARCHAR NOT NULL,
    "direccion_comercial" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "servicio_ofrecido" TEXT NOT NULL,
    "valor" DOUBLE PRECISION NOT NULL,
    "plazo_pagar" DATE NOT NULL,
    "estado_pago" TEXT NOT NULL,
    "fotografia_id" TEXT NOT NULL,
    "tipo_pago" TEXT NOT NULL,
    "sentido" BOOLEAN NOT NULL,
    "visualizacion" TEXT NOT NULL,
    "notificado" BOOLEAN DEFAULT false,

    CONSTRAINT "facturas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "configuracion_notificaciones" (
    "id" SERIAL NOT NULL,
    "diasantes" INTEGER NOT NULL,
    "diasdespues" INTEGER NOT NULL,

    CONSTRAINT "configuracionnotificaciones_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "itemizados" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "nombre" VARCHAR NOT NULL,
    "descripcion" VARCHAR,
    "monto_total" INTEGER NOT NULL,
    "monto_disponible" INTEGER NOT NULL,
    "obraid" UUID NOT NULL,
    "createdat" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updatedat" TIMESTAMP(6),

    CONSTRAINT "itemizados_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "obras" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "nombre" VARCHAR NOT NULL,
    "descripcion" VARCHAR,
    "estado" VARCHAR DEFAULT 'Activo',
    "createdat" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updatedat" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "obras_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "trabajadores_nombre_completo_key" ON "trabajadores"("nombre_completo");

-- CreateIndex
CREATE UNIQUE INDEX "trabajadores_rut_key" ON "trabajadores"("rut");

-- CreateIndex
CREATE UNIQUE INDEX "trabajadores_correo_electronico_key" ON "trabajadores"("correo_electronico");

-- CreateIndex
CREATE INDEX "idx_contratos_id_trabajadores" ON "contratos"("id_trabajadores");

-- CreateIndex
CREATE INDEX "idx_anexos_id_contrato" ON "anexos"("id_contrato");

-- CreateIndex
CREATE INDEX "idx_comentarios_id_anexo" ON "comentarios"("id_anexo");

-- CreateIndex
CREATE INDEX "idx_comentarios_id_contrato" ON "comentarios"("id_contrato");

-- CreateIndex
CREATE INDEX "idx_comentarios_id_trabajadores" ON "comentarios"("id_trabajadores");

-- CreateIndex
CREATE UNIQUE INDEX "proveedores_rut_key" ON "proveedores"("rut");

-- CreateIndex
CREATE UNIQUE INDEX "vehiculos_patente_key" ON "vehiculos"("patente");

-- CreateIndex
CREATE UNIQUE INDEX "ordenes_de_compra_numero_orden_key" ON "ordenes_de_compra"("numero_orden");

-- AddForeignKey
ALTER TABLE "contratos" ADD CONSTRAINT "fk_contrato_trabajador" FOREIGN KEY ("id_trabajadores") REFERENCES "trabajadores"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "anexos" ADD CONSTRAINT "fk_anexo_contrato" FOREIGN KEY ("id_contrato") REFERENCES "contratos"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "comentarios" ADD CONSTRAINT "fk_comentario_anexo" FOREIGN KEY ("id_anexo") REFERENCES "anexos"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "comentarios" ADD CONSTRAINT "fk_comentario_contrato" FOREIGN KEY ("id_contrato") REFERENCES "contratos"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "comentarios" ADD CONSTRAINT "fk_comentario_trabajador" FOREIGN KEY ("id_trabajadores") REFERENCES "trabajadores"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ordenes_de_compra" ADD CONSTRAINT "ordenes_de_compra_proveedorId_fkey" FOREIGN KEY ("proveedorId") REFERENCES "proveedores"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ordenes_de_compra" ADD CONSTRAINT "ordenes_de_compra_itemizadoId_fkey" FOREIGN KEY ("itemizadoId") REFERENCES "itemizados"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "itemizados" ADD CONSTRAINT "itemizados_obraid_fkey" FOREIGN KEY ("obraid") REFERENCES "obras"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

