-- CreateTable
CREATE TABLE "trabajadores" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "nombre_completo" VARCHAR NOT NULL,
    "estado_civil" VARCHAR NOT NULL,
    "rut" VARCHAR NOT NULL,
    "fecha_de_nacimiento" DATE NOT NULL,
    "direccion" VARCHAR NOT NULL,
    "correo_electronico" VARCHAR NOT NULL,
    "sistema_de_salud" VARCHAR NOT NULL,
    "prevision_afp" VARCHAR NOT NULL,
    "estado" VARCHAR NOT NULL,

    CONSTRAINT "trabajadores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "contratos" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "id_trabajadores" UUID NOT NULL,
    "plazo_de_contrato" VARCHAR NOT NULL,
    "estado" VARCHAR NOT NULL,
    "fecha_de_contratacion" DATE NOT NULL,

    CONSTRAINT "contratos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "anexos" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "id_contrato" UUID NOT NULL,
    "fecha_de_creacion" DATE NOT NULL,
    "parametros" VARCHAR NOT NULL DEFAULT '',

    CONSTRAINT "anexos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "comentarios" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "id_trabajadores" UUID NOT NULL,
    "id_contrato" UUID,
    "fecha" TIMESTAMP(6) NOT NULL,
    "comentario" VARCHAR NOT NULL,
    "id_anexo" UUID,

    CONSTRAINT "comentarios_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "epp" (
    "id" SERIAL NOT NULL,
    "tipo" TEXT NOT NULL,
    "cantidad_total" INTEGER NOT NULL,
    "certificado_id" TEXT,
    "fecha_registro" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "cantidad_disponible" INTEGER,

    CONSTRAINT "epp_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "proveedores" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "rut" VARCHAR NOT NULL,
    "direccion" VARCHAR,
    "correo_vendedor" VARCHAR,
    "telefono_vendedor" VARCHAR,
    "fecha_registro" DATE,
    "nombre_vendedor" VARCHAR,
    "producto_servicio" VARCHAR,
    "credito_disponible" INTEGER,
    "estado" VARCHAR,

    CONSTRAINT "proveedores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "herramientas" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tipo" VARCHAR NOT NULL,
    "estado" VARCHAR NOT NULL,
    "garantia" DATE,
    "cantidad_total" SMALLINT NOT NULL,
    "cantidad_disponible" SMALLINT,

    CONSTRAINT "herramientas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vehiculos" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "patente" VARCHAR NOT NULL,
    "revision_tecnica" DATE NOT NULL,
    "revision_gases" DATE NOT NULL,
    "ultima_mantencion" DATE NOT NULL,
    "descripcion_mant" VARCHAR,
    "capacidad_kg" INTEGER NOT NULL,
    "neumaticos" VARCHAR NOT NULL,
    "rueda_repuesto" BOOLEAN NOT NULL,
    "observaciones" VARCHAR,
    "estado" VARCHAR NOT NULL,
    "proxima_mantencion" DATE NOT NULL,
    "tipo" VARCHAR NOT NULL,
    "permiso_id" VARCHAR,
    "obra_asig" VARCHAR,

    CONSTRAINT "vehiculos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ordenes_de_compra" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "numero_orden" VARCHAR,
    "fecha_emision" DATE,
    "centro_costo" VARCHAR,
    "numero_cotizacion" VARCHAR,
    "nombre_servicio" VARCHAR,
    "valor" INTEGER,
    "descuento" BOOLEAN,
    "notas_adicionales" VARCHAR,
    "estado" VARCHAR DEFAULT 'Activo',
    "numero_contacto" VARCHAR,
    "proveedorId" UUID,
    "itemizadoId" UUID,
    "createdAt" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ordenes_de_compra_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pagos" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "nombre_mandante" TEXT NOT NULL,
    "rut_mandante" VARCHAR NOT NULL,
    "direccion_comercial" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "servicio_ofrecido" TEXT NOT NULL,
    "valor" DOUBLE PRECISION NOT NULL,
    "plazo_pagar" DATE NOT NULL,
    "estado_pago" TEXT NOT NULL,
    "fotografia_id" TEXT NOT NULL,
    "tipo_pago" TEXT NOT NULL,
    "sentido" BOOLEAN NOT NULL,
    "visualizacion" TEXT NOT NULL,
    "notificado" BOOLEAN DEFAULT false,
    "itemizadoId" UUID,

    CONSTRAINT "facturas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "configuracion_notificaciones" (
    "id" SERIAL NOT NULL,
    "diasantes" INTEGER NOT NULL,
    "diasdespues" INTEGER NOT NULL,

    CONSTRAINT "configuracionnotificaciones_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "itemizados" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "nombre" VARCHAR NOT NULL,
    "monto_total" DOUBLE PRECISION NOT NULL,
    "monto_disponible" DOUBLE PRECISION NOT NULL,
    "obraid" UUID NOT NULL,
    "createdat" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updatedat" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "cantidad" INTEGER NOT NULL DEFAULT 1,
    "gasto_actual" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "exceso_notificado" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "itemizados_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "obras" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "nombre" VARCHAR NOT NULL,
    "descripcion" VARCHAR,
    "createdat" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updatedat" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "responsable_email" VARCHAR,
    "direccion" TEXT NOT NULL,
    "obraInicio" DATE,
    "obraFin" DATE,
    "jornada" TEXT,

    CONSTRAINT "obras_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "charlas" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "obra_id" UUID NOT NULL,
    "fecha_programada" TIMESTAMP(6) NOT NULL,
    "estado" VARCHAR NOT NULL DEFAULT 'Programada',
    "tipo_programacion" VARCHAR,
    "intervalo_dias" INTEGER,
    "recordatorio_enviado" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "charlas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "asistencias_charlas" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "charla_id" UUID NOT NULL,
    "nombre_archivo" VARCHAR NOT NULL,
    "url_archivo" VARCHAR NOT NULL,
    "uploaded_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "asistencias_charlas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "trabajador_obra" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "trabajador_id" UUID,
    "obra_id" UUID,
    "fecha_asignacion" DATE,
    "fecha_desasignacion" DATE,
    "rol_en_obra" VARCHAR,
    "estado" TEXT,

    CONSTRAINT "trabajador_obra_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "obra_recurso" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "obra_id" UUID NOT NULL,
    "recurso_tipo" VARCHAR NOT NULL,
    "vehiculo_id" UUID,
    "herramienta_id" UUID,
    "epp_id" INTEGER,
    "fecha_asignacion" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "fecha_retiro" TIMESTAMP(6),
    "cantidad" INTEGER NOT NULL DEFAULT 1,
    "observaciones" TEXT,
    "estado" VARCHAR NOT NULL DEFAULT 'activo',

    CONSTRAINT "obra_recurso_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "historial_asistencia" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "id_excel" VARCHAR NOT NULL,
    "obraId" UUID NOT NULL,
    "fecha_subida" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "historial_asistencia_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "obra_finanzas" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "obraId" UUID NOT NULL,
    "tipo" VARCHAR NOT NULL,
    "fechaAsignacion" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "proposito" VARCHAR NOT NULL,
    "estado" VARCHAR NOT NULL DEFAULT 'activa',
    "detalles" JSONB,

    CONSTRAINT "obra_finanzas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "passwordReset" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "token" VARCHAR NOT NULL,
    "expires_at" TIMESTAMP(6) NOT NULL,
    "used" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "passwordreset_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "usuarios" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "supabase_uid" UUID,
    "email" VARCHAR NOT NULL,
    "password_hash" VARCHAR,
    "nombre" VARCHAR NOT NULL,
    "rol" VARCHAR NOT NULL DEFAULT 'usuario',
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "estado" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "usuarios_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "trabajadores_nombre_completo_key" ON "trabajadores"("nombre_completo");

-- CreateIndex
CREATE UNIQUE INDEX "trabajadores_rut_key" ON "trabajadores"("rut");

-- CreateIndex
CREATE UNIQUE INDEX "trabajadores_correo_electronico_key" ON "trabajadores"("correo_electronico");

-- CreateIndex
CREATE INDEX "idx_contratos_id_trabajadores" ON "contratos"("id_trabajadores");

-- CreateIndex
CREATE INDEX "idx_anexos_id_contrato" ON "anexos"("id_contrato");

-- CreateIndex
CREATE INDEX "idx_comentarios_id_anexo" ON "comentarios"("id_anexo");

-- CreateIndex
CREATE INDEX "idx_comentarios_id_contrato" ON "comentarios"("id_contrato");

-- CreateIndex
CREATE INDEX "idx_comentarios_id_trabajadores" ON "comentarios"("id_trabajadores");

-- CreateIndex
CREATE UNIQUE INDEX "proveedores_rut_key" ON "proveedores"("rut");

-- CreateIndex
CREATE UNIQUE INDEX "vehiculos_patente_key" ON "vehiculos"("patente");

-- CreateIndex
CREATE UNIQUE INDEX "ordenes_de_compra_numero_orden_key" ON "ordenes_de_compra"("numero_orden");

-- CreateIndex
CREATE INDEX "idx_obra_recurso_obra" ON "obra_recurso"("obra_id");

-- CreateIndex
CREATE INDEX "idx_obra_recurso_vehiculo" ON "obra_recurso"("vehiculo_id");

-- CreateIndex
CREATE INDEX "idx_obra_recurso_herramienta" ON "obra_recurso"("herramienta_id");

-- CreateIndex
CREATE INDEX "idx_obra_recurso_epp" ON "obra_recurso"("epp_id");

-- CreateIndex
CREATE INDEX "idx_archivos_excel_obra" ON "historial_asistencia"("obraId");

-- CreateIndex
CREATE INDEX "idx_obra_finanza_obra" ON "obra_finanzas"("obraId");

-- CreateIndex
CREATE UNIQUE INDEX "passwordreset_token_key" ON "passwordReset"("token");

-- CreateIndex
CREATE INDEX "passwordreset_token_idx" ON "passwordReset"("token");

-- CreateIndex
CREATE UNIQUE INDEX "usuarios_supabase_uid_key" ON "usuarios"("supabase_uid");

-- CreateIndex
CREATE UNIQUE INDEX "usuarios_email_key" ON "usuarios"("email");

-- CreateIndex
CREATE INDEX "idx_usuarios_email" ON "usuarios"("email");

-- CreateIndex
CREATE INDEX "idx_usuarios_supabase_uid" ON "usuarios"("supabase_uid");

-- AddForeignKey
ALTER TABLE "contratos" ADD CONSTRAINT "fk_contrato_trabajador" FOREIGN KEY ("id_trabajadores") REFERENCES "trabajadores"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "anexos" ADD CONSTRAINT "fk_anexo_contrato" FOREIGN KEY ("id_contrato") REFERENCES "contratos"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "comentarios" ADD CONSTRAINT "fk_comentario_anexo" FOREIGN KEY ("id_anexo") REFERENCES "anexos"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "comentarios" ADD CONSTRAINT "fk_comentario_contrato" FOREIGN KEY ("id_contrato") REFERENCES "contratos"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "comentarios" ADD CONSTRAINT "fk_comentario_trabajador" FOREIGN KEY ("id_trabajadores") REFERENCES "trabajadores"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ordenes_de_compra" ADD CONSTRAINT "fk_ordenes_itemizados" FOREIGN KEY ("itemizadoId") REFERENCES "itemizados"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "ordenes_de_compra" ADD CONSTRAINT "fk_ordenes_proveedores" FOREIGN KEY ("proveedorId") REFERENCES "proveedores"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pagos" ADD CONSTRAINT "pagos_itemizadoId_fkey" FOREIGN KEY ("itemizadoId") REFERENCES "itemizados"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "itemizados" ADD CONSTRAINT "fk_itemizados_obra" FOREIGN KEY ("obraid") REFERENCES "obras"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "charlas" ADD CONSTRAINT "charlas_obra_id_fkey" FOREIGN KEY ("obra_id") REFERENCES "obras"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "asistencias_charlas" ADD CONSTRAINT "asistencias_charlas_charla_id_fkey" FOREIGN KEY ("charla_id") REFERENCES "charlas"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "trabajador_obra" ADD CONSTRAINT "trabajador_obra_obra_id_fkey" FOREIGN KEY ("obra_id") REFERENCES "obras"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "trabajador_obra" ADD CONSTRAINT "trabajador_obra_trabajador_id_fkey" FOREIGN KEY ("trabajador_id") REFERENCES "trabajadores"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "obra_recurso" ADD CONSTRAINT "obra_recurso_epp_id_fkey" FOREIGN KEY ("epp_id") REFERENCES "epp"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "obra_recurso" ADD CONSTRAINT "obra_recurso_herramienta_id_fkey" FOREIGN KEY ("herramienta_id") REFERENCES "herramientas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "obra_recurso" ADD CONSTRAINT "obra_recurso_obra_id_fkey" FOREIGN KEY ("obra_id") REFERENCES "obras"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "obra_recurso" ADD CONSTRAINT "obra_recurso_vehiculo_id_fkey" FOREIGN KEY ("vehiculo_id") REFERENCES "vehiculos"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "historial_asistencia" ADD CONSTRAINT "historial_asistencia_obraId_fkey" FOREIGN KEY ("obraId") REFERENCES "obras"("id") ON DELETE NO ACTION ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "obra_finanzas" ADD CONSTRAINT "obra_finanzas_obraId_fkey" FOREIGN KEY ("obraId") REFERENCES "obras"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "passwordReset" ADD CONSTRAINT "passwordreset_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "usuarios"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

